
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isStudent() {
      return isSignedIn() && request.auth.token.email.matches('.*@psgitech\\.ac\\.in$');
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isManagement() {
      return isSignedIn() && request.auth.token.email == "management@psgitech.ac.in";
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isOwner(userId);
      allow write: if isOwner(userId);
    }

    match /menuItems/{menuItemId} {
      allow read: if isSignedIn();
      allow create: if isManagement();
      allow delete: if isManagement();
      // Students can update the 'votes' field, but only by incrementing it.
      // Management can update any field.
      allow update: if (isManagement() || 
        (isStudent() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['votes']) 
                     && request.resource.data.votes == resource.data.votes + 1));
    }
    
    match /userVotes/{voteId} {
        allow read: if isSignedIn();
        // A user can only create a vote document if the document ID matches their own user ID
        // and the vote is for themself.
        allow create: if isStudent() && isOwner(request.resource.data.userId) 
                                     && voteId == request.resource.data.userId + '_' + request.resource.data.menuItemId;
        allow delete: if false;
        allow update: if false;
    }

    match /menuState/{stateId} {
      allow read: if isSignedIn();
      allow write: if isManagement(); // Only management can finalize the menu
    }
  }
}

    